<%- include('../includes/head.ejs') %>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>


            <main class="row">
                <form class="mx-auto col-12 col-sm-11 col-md-8 col-lg-6 col-xl-4"
                    action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST"
                    enctype="multipart/form-data"
                    novalidate>
                    <% if (errorMessage) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>
                                <%= (editing) ? 'Updaing' : 'Adding' %> Failed!
                            </strong>
                            <%= errorMessage %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
                            <!-- csrf token -->
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" id="title" name="title"
                                    class="form-control <%= validationErrors.find(e => e.param === 'title') ? 'is-invalid' : '' %>"
                                    placeholder="Title Here..."
                                    value="<%= editing ? product.title : oldInput.title  %>">
                                <div id="validationServerEmailFeedback" class="invalid-feedback">
                                    <%= validationErrors.find(e=> e.param === 'title') ? validationErrors.find(e =>
                                        e.param === 'title').msg : '' %>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="image" class="form-label">Image</label>
                                <input class="form-control" type="file" id="image"
                                    name="image"
                                >
                            </div>

                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" id="price" name="price" step="0.01"
                                    class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'is-invalid' : '' %>"
                                    placeholder="Price Here..."
                                    value="<%= (editing) ? product.price : oldInput.price %>">
                                <div id="validationServerEmailFeedback" class="invalid-feedback">
                                    <%= validationErrors.find(e=> e.param === 'price') ? validationErrors.find(e =>
                                        e.param === 'price').msg : '' %>
                                </div>
                            </div>

                            <div class=" mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea style="width: 100%;" id="description" name="description"
                                    class="form-control <%= validationErrors.find(e => e.param === 'description') ? 'is-invalid' : '' %>"
                                    placeholder="Description Here..."
                                    rows="5"><%= (editing) ? product.description : oldInput.description %></textarea>
                                <div id="validationServerEmailFeedback" class="invalid-feedback">
                                    <%= validationErrors.find(e=> e.param === 'description') ? validationErrors.find(e => e.param === 'description').msg : '' %>
                                </div>
                            </div>
                            <% if (editing) { %>

                                <input type="hidden" value="<%=  product._id%>" name="productId">

                                <% } %>
                                    <input type="submit" class="btn btn-success w-100"
                                        value="<% if (editing) { %>Update Product<% } else { %>Add<% } %>">
                </form>
            </main>

            <%- include('../includes/end.ejs') %>