<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->

    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>


            <main class="row">
                <form class="login-form mx-auto col-12 col-sm-11 col-md-8 col-lg-6 col-xl-4" action="/new-password"
                    method="POST">
                    <% if (errorMessage) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%= errorMessage %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="userId" value="<%= userId %>">

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password Here">
                            </div>
                            
                            <button type="submit" class="btn btn-success w-100">Update Password</button>
                </form>
            </main>

            <%- include('../includes/end.ejs') %>