<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->

    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>


            <main class="row">
                <form class="login-form mx-auto col-12 col-sm-11 col-md-8 col-lg-6 col-xl-4" action="/signup"
                    method="POST" novalidate>
                    <% if (errorMessage) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Sign-up Failed!</strong>
                            <%= errorMessage %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div class="mb-3">
                                <label for="email" class="form-label">Email Address</label>
                                <input type="email"
                                    class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'is-invalid' : '' %>"
                                    id="email" name="email" placeholder="Email Address Here"
                                    value="<%= oldInput.email %>" aria-describedby="validationServerEmailFeedback"
                                    required>
                                
                                <div id="validationServerEmailFeedback" class="invalid-feedback">
                                    <%= validationErrors.find(e => e.param === 'email') ? validationErrors.find(e => e.param === 'email').msg : '' %>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'is-invalid' : '' %>" 
                                id="password" name="password"
                                    placeholder="Password Here" value="<%= oldInput.password %>" 
                                    aria-describedby="validationServerPasswordFeedback"
                                    required>

                                <div id="validationServerPasswordFeedback" class="invalid-feedback">
                                    <%= validationErrors.find(e => e.param === 'password') ? validationErrors.find(e => e.param === 'password').msg : '' %>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" 
                                    class="form-control <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'is-invalid' : '' %>" 
                                    id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm Password Here" value="<%= oldInput.confirmPassword %>"
                                    aria-describedby="validationServerConfirmPasswordFeedback"
                                    required    
                                >
                                
                                <div id="validationServerConfirmPasswordFeedback" class="invalid-feedback">
                                    <%= validationErrors.find(e => e.param === 'confirmPassword') ? validationErrors.find(e => e.param === 'confirmPassword').msg : '' %>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success w-100">Sign Up</button>
                </form>
            </main>

            <%- include('../includes/end.ejs') %>