<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (products.length> 0) { %>
                    <ul class="row w-75 mx-auto">
                        <% products.forEach(p=> { %>

                            <li class="d-flex mt-2 justify-content-between shadow align-items-center">
                                <h1>
                                    <%= p.productId.title %>
                                </h1>
                                <h2>Quantity: <%= p.quantity %>
                                </h2>
                                <div class="text-center">
                                    <form action="/cart-delete-item" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                        <input type="hidden" name="productId" value="<%=p.productId._id%>">
                                    </form>
                                </div>
                            </li>

                            <% }) %>
                    </ul>

                    <div class="centered mt-2">
                        <a class="btn"  href="/checkout">Order Now!</a>
                    </div>

                    <% } else {%>
                        <h1 style="background-color:lightyellow;">
                            No Products In Cart!
                        </h1>
                        <% } %>
            </main>

            <%- include('../includes/end.ejs') %>